@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

:root {
  font-family: "Baloo 2";
  --active-menu-item: #dfddf4;
  --active-menu-item-secondary: #eee5fc;
  --menu-background-color: #ede8f7;
  --content-background-color: #faf0f9;
  --header-background-color: #c25c47;
  --modal-content-margin: 20vh auto;
  --modal-content-width: 30vw;
  --modal-content-height: 60vh;
  --modal-content-height-add-category: 15vh;
  --modal-content-height-delete-category: 8vh;
  --modal-content-background-color: #fefefe;
  --category-modal-text-size: 2rem;
  --menu-width: 20rem;
  --menu-item-margin-right: 1rem;
  --menu-item-active-border-radius: 5px;
  --menu-item-width: 17.5rem;
  --menu-item-height: 2rem;
  --menu-item-margin: 0 0 0 2rem;
  --modal-title-margin: 1rem 0 0 3rem;
  --modal-left-right-margin: 3rem;
  --modal-drop-shadow: drop-shadow(0 0 20px #3d3d3d);
  --modal-border-radius: 5px;
  --todo-list-width: 70%;
  --todo-wrapper-right-margin: 0 0 0 auto;
  --todo-chip-width: 2rem;
  --todo-chip-margin-right: 1rem;
  --todo-overdue-color: red;
  --todo-upcoming-color: orange;
  --todo-options-btn-width: 1.1rem;
  --cancel-color: #b5b5b5;
  --cancel-hover-color: #ababab;
  --submit-color: #b66454;
  --submit-color-active: #c66666;
  --error-color: red;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  background-color: var(--content-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-background-color);
}

.header-div {
  padding: 0.5rem 1rem;
}

header > div > button {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

button > img {
  width: 100%;
  height: 100%;
  color: white;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
}

.menu {
  width: var(--menu-width);
  height: 100%;
  background-color: var(--menu-background-color);
  display: inline-block;
  flex-direction: column;
  transition: transform 100ms ease-in-out;
}

.menu-active {
  background-color: var(--active-menu-item);
  border-radius: var(--menu-item-active-border-radius);
}

.menu > .menu-item:first-child {
  margin-top: 1.5rem;
}

.menu-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu-item-sizing {
  width: var(--menu-item-width);
  margin: var(--menu-item-margin);
}

.menu-item:hover {
  background-color: var(--active-menu-item);
  border-radius: var(--menu-item-active-border-radius);
}

.icon-placeholder {
  height: var(--menu-item-height);
  width: var(--menu-item-height);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: center;
}

.project-options-wrapper {
  height: var(--menu-item-height);
  width: var(--menu-item-height);
  display: flex;
  margin: 0 var(--menu-item-margin-right) 0 auto;
}

.project-options {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  margin: auto;
}

.project-options:hover {
  transform: scale(1.1);
}

.project-options-inactive {
  display: none;
}

.project-icon-placeholder {
  height: var(--menu-item-height);
  min-width: var(--menu-item-height);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: center;
}

.icon-placeholder > img {
  width: 20px;
}

.menu-bullet {
  width: 10px;
  height: 10px;
  margin: auto;
}

.projects-header-li {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.project-menu-bar-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-menu-bar-left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.project-menu-bar-root h1 {
  cursor: default;
}

.add-project-btn {
  cursor: pointer;
  height: var(--menu-item-height);
  width: var(--menu-item-height);
  display: flex;
  margin-right: var(--menu-item-margin-right);
}

.add-project-btn > img {
  height: 70%;
  margin: auto;
}

.add-project-btn:hover {
  background-color: var(--active-menu-item);
  border-radius: var(--menu-item-active-border-radius);
}

.project-list {
  overflow-y: auto;
  height: calc(100% - var(--menu-item-height));
}

.todo-list-wrapper {
  background-color: var(--content-background-color);
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.todo-list {
  flex: 1;
  max-width: var(--todo-list-width);
  margin: 1.5rem 0 0 0;
}

#todo-list-header {
  width: 100%;
  height: 4rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#todo-list-header > h1 {
  height: var(--menu-item-height);
  font-weight: 700;
}

hr {
  border: 1px solid black;
  width: 100%;
}

#current-todos {
  width: 100%;
}

.todo-wrapper {
  display: flex;
  color: black;
}

.todo-wrapper-inactive {
  opacity: 0.3;
}

.todo-wrapper-left {
  display: flex;
}

.todo-wrapper-right {
  display: flex;
  margin: var(--todo-wrapper-right-margin);
}

.todo-content {
  overflow: hidden;
  word-wrap: break-word;
}

.todo-chip {
  width: var(--todo-chip-width);
  margin-right: var(--todo-chip-margin-right);
  cursor: pointer;
}

.todo-deadline {
  min-width: 10rem;
}

.deadline-upcoming {
  color: var(--todo-upcoming-color);
}

.deadline-overdue {
  color: var(--todo-overdue-color);
}

.todo-btn-wrapper {
  min-width: 3rem;
  margin: 0 5px 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  position: relative;
}

.todo-wrapper-inactive .todo-btn-wrapper {
  margin: 0 5px 0 auto;
}

.delete-todo-btn {
  transition: transform 100ms ease-in-out;
}

.delete-todo-btn:hover {
  transform: scale(1.2);
}

.todo-btn {
  height: var(--todo-options-btn-width);
  width: var(--todo-options-btn-width);
  cursor: pointer;
}

.form-controls {
  display: flex;
  gap: 10px;
  margin: auto auto 5px auto;
}

.form-controls > input {
  border: none;
  border-radius: 5px;
  height: 2rem;
  cursor: pointer;
}

.form-controls > .cancel-btn {
  background-color: var(--cancel-color);
  width: 4rem;
}

.form-controls > .cancel-btn:hover {
  background-color: var(--cancel-hover-color);
}

.form-controls > .submit-btn {
  background-color: var(--submit-color);
  color: var(--content-background-color);
  width: 7rem;
}

.form-controls > .submit-btn:hover {
  background-color: var(--submit-color-active);
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  background-color: var(--modal-content-background-color);
  margin: var(--modal-content-margin);
  border: none;
  border-radius: var(--modal-border-radius);
  display: flex;
  flex-direction: column;
  filter: var(--modal-drop-shadow);
}

#add-category-modal > .modal-content {
  height: var(--modal-content-height-add-category);
}

#delete-category-modal > .modal-content {
  height: var(--modal-content-height-delete-category);
}

#delete-category-modal h1 {
  margin: auto;
  font-size: var(--category-modal-text-size);
}

.input-field {
  margin: 1rem 0 0 var(--modal-left-right-margin);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field > input {
  width: calc(100% - var(--modal-left-right-margin));
}

.input-field > select {
  width: 9rem;
  background-color: var(--modal-content-background-color);
  border: 1px solid black;
  border-radius: 3px;
}

.input-field > textarea {
  max-width: calc(100% - var(--modal-left-right-margin));
  min-width: calc(100% - var(--modal-left-right-margin));
  height: 4rem;
}

.modal-content > .form-controls {
  margin: auto auto 1rem auto;
}

.modal-content > h1 {
  font-size: 3rem;
  margin: var(--modal-title-margin);
}

.required-field:before {
  content: "* ";
  color: var(--error-color);
}

.error {
  color: var(--error-color);
}

.menu-fade {
  transform: translate(calc(var(--menu-width) * -1), 0);
}

.menu-disabled {
  transform: scale(0, 1);
  transform-origin: left;
}

.display-disabled {
  display: none;
}

@media only screen and (max-width: 1200px) {
  :root {
    --modal-content-width: 45vw;
    --todo-list-width: 80%;
  }

  .todo-wrapper {
    flex-direction: column;
  }
  .todo-wrapper-right {
    width: calc(100% - 3rem);
    justify-content: space-between;
  }
}

@media only screen and (max-width: 850px) {
  :root {
    --modal-content-width: 70vw;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --modal-content-width: 90vw;
    --modal-left-right-margin: 2rem;
    --modal-title-margin: 1rem auto 0 auto;
    --menu-width: 90vw;
    --menu-item-margin-right: 1rem;
    --menu-item-active-border-radius: 5px;
    --menu-item-width: 80vw;
    --menu-item-margin: 0 0 0 5vw;
    --menu-item-height: 2rem;
    --todo-list-width: 90%;
  }
}

@media only screen and (max-height: 1000px) {
  :root {
    --modal-content-margin: 10vh auto;
    --modal-content-height: 80vh;
    --modal-content-height-add-category: 50vh;
    --modal-content-height-delete-category: 25vh;
    --menu-item-height: 2rem;
    --category-modal-text-size: 1.3rem;
  }
}

@media only screen and (max-height: 400px) {
  :root {
    --modal-content-height-add-category: 70vh;
    --modal-content-height-delete-category: 35vh;
    --modal-content-height: 60vh;
    --menu-item-height: 2rem;
  }
}
