:root {
    --active-menu-item: #DFDDF4;
    --menu-background-color: #EDE8F7;
    --content-background-color: #FAF0F9;
    --header-background-color: #C25C47;
    --menu-item-margin-right: 1rem;
    --menu-item-active-border-radius: 5px;
}

html {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: cyan;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-background-color);
}

.header-div {
    padding: 0.5rem 1rem;
}

header > div > button {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

button > img {
    width: 100%;
    height: 100%;
    color: white;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.menu-wrapper {
    width: 20rem;
    height: 100%;
    background-color: var(--menu-background-color);
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 2rem;
}

.menu-active {
    background-color: var(--active-menu-item);
    border-radius: 5px;
    width: 17.5rem;
}

.menu-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.menu-item:hover {
    background-color: var(--active-menu-item);
    border-radius: var(--menu-item-active-border-radius);
}

.icon-placeholder {
    height: 2rem;
    width: 2rem;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: center;
}

.project-icon-placeholder {
    height: 2rem;
    width: 2rem;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: center;
}

.icon-placeholder > img {
    width: 20px;
}

.menu-bullet {
    width: 10px;
    height: 10px;
    margin: auto;
}

.project-menu-bar-root {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
    
}

.project-menu-bar-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.add-project-btn {
    height: 2rem;
    width: 2rem;
    display: flex;
    margin-right: var(--menu-item-margin-right);
}

.add-project-btn > img{
    height: 70%;
    margin: auto;
}

.add-project-btn:hover {
    background-color: var(--active-menu-item);
    border-radius: var(--menu-item-active-border-radius);
}

.todo-list-wrapper {
    background-color: var(--content-background-color);
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.todo-list {
    flex: 1;
    max-width: 70%;
    margin: 1.5rem 0 0 0;
}

#todo-list-header {
    width: 100%;
    height: 4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#todo-list-header > h1 {
    height: 2rem;
    font-weight: 700;
}

#todo-list-header > hr {
    border: 1px solid black;
    width: 100%;
}

